<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
</head>
<body>
    <form action = "/todo/<%=task.taskId%>?_method=PATCH" method="POST">
        <section>
            <div>
                <label for="task">Task: </label>
                <input type="text" id = "task" name="task" value="<%= task.task %>">
            </div>
            <div>
                <label for="taskStatus">Task Status: </label>
                <select name="taskStatus" id="taskStatus">
                <option value="Completed">Completed</option>
                <option value="Pending">Pending</option>
            </select>
            </div>
            <div>
                <button>
                    Edit task
                </button> 
            </div>
            
        </section>
    </form>
    
</body>
</html>