<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/styles/todo_style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new task...</title>
</head>
<body>
    <header class="navbar">
        <span id="logo">
            <a href="/todo">My ToDo</a>
        </span>
        <span id="navlinks">
            <span id="navlink1">
                <a href="/todo">All Tasks</a>
            </span>
            <span id="navlink2">
                <a href="/todo/createtask">New Task</a>
            </span>
        </span>
        <span id="pinfo">
            Abhishek
        </span>
    </header>
    <form action="/todo" method="POST">
        <section class="ctask">
            <div>
                <label for="task">Task: </label>
            </div>
            <div>
                <textarea id = "task" name="task" placeholder="Enter your task" cols="30" rows="8"></textarea>
            </div>
            <div>
                <label for="taskstatus">Task Status: </label>
                <select name="taskStatus" id="taskstatus">
                <option value="Completed">Completed</option>
                <option value="Pending" selected>Pending</option>
                </select>
            </div>
            <div>
                <button class="ctbutton" id="ctbutton">
                    Create task
                </button> 
            </div>
        </section>
    </form>
</body>
</html>